  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
  background-color: #9BB8CD;
  font-family: 'Montserrat', sans-serif;
}
.wrapper{
  background-color: #EEC759;
  margin: 50px;
  border-radius: 15px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  font-weight: 250;
}
.wrapper h2{
  margin: 0;
}
.wrapper p{
  font-style: italic;
  margin: 5px;
}
.wrapper ol{
  margin: 20px 0;
}
.wrapper ol li{
  margin: 5px 0;
  padding: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
}
.wrapper ol li:nth-child(even) {
  background: #ddd;
}
.wrapper form{
  display: inline-block;
}
.wrapper input{
  padding: 3px 5px;
}
.wrapper .tombol:hover{
  cursor: pointer;
  opacity: 0.7;
}
.wrapper .completed {
  text-decoration: line-through;
  color: #666;
}
.wrapper .tombol{
  margin: 10px 2px;
  background-color: #B1C381;
  color: #FFF7D4;
  border-radius: 15px;
  padding: 5px 20px;
  border: none;
  text-align: center;
  display: inline-block ;
  font-size: small;
}
.wrapper input {
  padding: 3px 6px;
}
.wrapper form {
  display: inline-block;
}
#control-wrapper {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media only screen and (min-width: 1400px) {
  .wrapper {
    width: 50%;
  }
  .wrapper input {
    width: 600px;
  }
@media only screen and (max-width: 1399px) and (min-width: 750px) {
    .wrapper {
      width: 75%;
    }
  
    .wrapper input {
      width: 400px;
    }
  }